---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hola! Soy Mia.">
    <Header />
	<main>
		<h1 class="text-4xl sm:text-3xl font-bold sm:font-semibold">Mia</h1>
	</main>
</Layout>
