---
import BackButton from '../components/BackButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio Hola! Soy Mia.">
	<BackButton />
	<main>
		<h1 class="text-4xl sm:text-3xl font-bold sm:font-semibold" transition:name="link-portfolio">Portfolio</h1>
	</main>
</Layout>