---
import BackButton from '../components/BackButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proyectos Hola! Soy Mia.">
	<BackButton />
	<main>
		<h1 class="text-4xl sm:text-3xl font-bold sm:font-semibold" transition:name="link-proyectos">Proyectos</h1>
	</main>
</Layout>