<a class="hover:underline" href="/portfolio/" transition:name="link-portfolio">Portfolio</a>
<a class="hover:underline" href="/experimentos/" transition:name="link-experimentos">Experimentos</a>
<a class="hover:underline" href="/proyectos/" transition:name="link-proyectos">Proyectos</a>